[Unit]
Description=Homa Currentcost Device

[Service]
User=homa
EnvironmentFile=/home/homa/environment.config
ExecStart=/usr/local/bin/node /home/homa/homa-currentcost/homa-currentcost.js --brokerHost $BROKER
Restart=always

[Install]
WantedBy=multi-user.target

